/*
 * stack
 */
 
// Keep in sync with: src/js/layouts/_stack.css.ts
 
.gr-stack {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    gap: var(--gr-gap-default);

    /* Stack specific text alignment */
    &.gr-align-start { text-align: start; }
    &.gr-align-center { text-align: center; }
    &.gr-align-end { text-align: end; }
}
