// align

// Keep in sync with: src/js/mods/_align.css.ts

.gr-align-start { align-items: start; }
.gr-align-center { align-items: center; }
.gr-align-end { align-items: end; }
.gr-align-stretch { align-items: stretch; }
