// padding
.gr--padding-0 { padding: var(--graal-space-0); }
.gr--padding-xs { padding: var(--graal-space-xs); }
.gr--padding-s { padding: var(--graal-space-s); }
.gr--padding-m { padding: var(--graal-space-m); }
.gr--padding-l { padding: var(--graal-space-l); }
.gr--padding-xl { padding: var(--graal-space-xl); }
.gr--padding-2xl { padding: var(--graal-space-2xl); }
