// radius
.gr--radius-0 { border-radius: var(--graal-space-0); }
.gr--radius-xs { border-radius: var(--graal-space-xs); }
.gr--radius-s { border-radius: var(--graal-space-s); }
.gr--radius-m { border-radius: var(--graal-space-m); }
.gr--radius-l { border-radius: var(--graal-space-l); }
.gr--radius-xl { border-radius: var(--graal-space-xl); }
.gr--radius-2xl { border-radius: var(--graal-space-2xl); }