// width limits
.gr--width-xs { max-width: var(--graal-width-xs); margin: 0 auto; }
.gr--width-s { max-width: var(--graal-width-s); margin: 0 auto; }
.gr--width-m { max-width: var(--graal-width-m); margin: 0 auto; }
.gr--width-l {  max-width: var(--graal-width-l); margin: 0 auto; }
.gr--width-xl { max-width: var(--graal-width-xl); margin: 0 auto; }
.gr--width-2xl { max-width: var(--graal-width-2xl); margin: 0 auto; }
